/* 6. Write CSS rules that cause the header and .collage div to be centered on the page */
/* 7. Write CSS rules that ensure that no more than 4 photos appear on a row */

header {
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 1s;
    background: white;
    top: 0px;
    height: 10%;
}
.collage {
    margin: auto;
    align-content: center;
    width: 800px;
    padding-top: 100px;
    overflow: hidden;
}

